body{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;



}

img{ position: absolute;
    left: 30px; 
    top: 40px;


}
div{width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 4px;}