body {
    min-height: 100vh;
    background: #820AD1;
    font-family: Helvetica;
    display: grid;
    place-items: center;
}

p {
    font-size: 1.3125rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 28rem;
    background: #fff;
    padding: 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

label {
    width: 100%;
    color: #777;
    align-self: flex-start;
    transition: 0.15s linear;
}

label:focus-within {
    color: #8d3dc8
}

input {
    font-size: 1.1875rem;
    color: #404040;
    padding: 1rem 0 0.5rem 0;
    width: 100%;
    border: none;
    border-color: #a0a0a0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin-bottom: 3rem;
    transition: 0.15s linear;
}

input:focus {
    outline: none;
    border-color: #8d3dc8;
}

button {
    font-size: 0.8125rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    background: transparent;
    color: #820AD1;
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 0.5rem;
    transition: 0.25s;
}

button:hover,
button:focus {
    outline: none;
    background: #8d3dc8;
    color: #fff;
}

a {
    text-decoration: none;
    color: #8d3dc8;
    font-size: 0.875rem;
    font-weight: 600;
    transition: 0.3s;
}

a:hover,
a:focus {
    outline: none;
    color: #000;
}

a:first-of-type {
    margin-top: 3rem;
}

a + a {
    margin-top: 1.125rem;
}

header {
    position: absolute;
    top: 20px;
    left: 0;
    padding-left: 20px;
}